
        body {
          background-color: #576b33;
        } 
        @font-face {
            font-family: "The-Meshroom";
            src: url("../mywebpage/The-Meshroom.ttf")format('truetype');
        }
        .h1{
            
            font-size:x-large;
            color: #FEFBEA;  
            text-align: center;
            font-family: 'The-Meshroom';
        } 
        .item1 {
            background-color: #FEFBEA;
            margin: auto;
            border-radius: 20px;
            height: 500px;
            width: 500px;  
            transition: transform 0.5s;
        }
        .h{
            
            font-size: larger;
            text-align: center;
            font-family: 'The-Meshroom';
        }
        .c{
            font-size:larger;
            color: #49592a;
            text-align: center;
            font-family:'Courier New', Courier, monospace;
            font-weight: bold;
        }
        .item2 {
            background-color: #FEFBEA;
            border-radius: 20px;
            height: 450px;
            width: 500px;
            margin: auto;
            transition: transform 0.5s;
        }
        .container{
            background-color: #576b33;
            justify-items: center;
            height: 250;
            width: auto;
            display: flex; 
            flex-direction:column;
            margin-top: 20px;  
            
        }
        .item{
            background-color: #cdd0c0;
            margin: auto;
            align-self: center;
            height: 250px;
            width: 250px;
            border-radius:10px ; 
            transition: transform 0.5s;
            margin-top: 20px;
              
        }
        img{
            width: 250px;
            height: 250px;
            border-radius: 10px;
        }
        .item3 {
            background-color: #FEFBEA;
            border-radius: 20px;
            height: 100px;
            width: 500px;
            margin: auto; 
            transition: transform 0.5s;
        }
        .item:hover{
            transform: translateY(-20px);
        }
        .item1:hover{
            transform: translateY(-10px);
        }
        .item2:hover{
            transform: translateY(-10px);
        }
        .item3:hover{
            transform: translateY(-10px);
        }
        
        @media only screen and (max-width: 600px){
                  .container{
                    /*display: inline;
                    vertical-align: auto;*/
                    display:flex;
                    flex-direction: column;

                  }
        }
        
        
    
